<div class="outer-wrapper">
      <div class="TALENTS-container">
            <div class="section-header">
            <div class="section-title">
                  <div class="section-text">What makes me stand out</div>
            </div>
      </div>
      </div>
      <div class="inner-wrapper">
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-1">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Solving%20Ambiguous%20Problems.md">
                              <img src="/static/thumbnails/gradients/IMG_4838.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">Solving Ambiguous Problems That Make Us Ask, “Where Do We Even Begin?”</p>
                              </div>
                        </a>
                  </div>
                  <div class="cs-skill-block cs-skill-block-2">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Building%20Tank-Grade%20Data%20Pipelines%20That%20Don't%20Break%20at%203AM.md">
                              <img src="/static/thumbnails/gradients/IMG_4837.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">Designing AI Systems That Don’t Break in Demos</p>
                              </div>
                        </a>
                  </div>
            </div>
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-3">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Communication%20and%20Diagrams%20for%20Translating%20Tech%20Jargon%20to%20those%20Who%20still%20Think%20Python%20Is%20a%20Snake.md">
                              <img src="/static/thumbnails/gradients/IMG_4833.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">Diagrams and Communication for Those Who Still think Python is a Snake</p>
                              </div>
                        </a>
                  </div>
                  <div class="cs-skill-block cs-skill-block-4">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Designing%20UI%20UX%20That%20Doesn’t%20Suck%20and%20doesn't%20make%20Users%20Rage%20Click.md">
                              <img src="/static/thumbnails/gradients/IMG_4834.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">UI UX That Doesn’t Suck and make Users Rage Click</p>
                              </div>
                        </a>
                  </div>
            </div>
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-5">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Building%20Tank-Grade%20Data%20Pipelines%20That%20Don't%20Break%20at%203AM.md">
                              <img src="/static/thumbnails/gradients/IMG_4835.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">Handling Large Scale Data with Pipelines Built Like Tanks</p>
                              </div>
                        </a>
                  </div>
                  <div class="cs-skill-block cs-skill-block-6">
                        <a class="cs-skill-link cs-skill-link" style="text-decoration: none" href="/blogs/Knowledge%20Base/Demystifying%20Data%20Security%20GDPR,%20HIPAA,%20SOC%202%20and%20the%20Acronym%20Army.md">
                              <img src="/static/thumbnails/gradients/IMG_4836.JPG" alt="corner" class="corner-image" />
                              <div class="arrow-circle">
                                    <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                              </div>
                              <div class="absolute inset-0 flex items-center justify-center p-6 text-center transition-all duration-300 group-hover:bg-opacity-70">
                                    <p class="text-white text-xl font-bold leading-tight">Governance & Security Simplified: From GDPR to SOC 2</p>
                              </div>
                        </a>
                  </div>
            </div>
      </div>
</div>
