<div class="tutorials-section animate-section">
  <div class="container">
    <div class="section-header animate-bottom delay-100">
      <div class="section-title">
          <span class="section-text dm-serif-text-regular">Find me on the internet</span>
      </div>
  </div>
    <div class="content-wrapper laptop-wrapper-1 animate-section" data-delay="100">
      <div class="laptop-container animate-left">
        <img src="/static/images/youtube-laptop.png" alt="Laptop displaying YouTube tutorials" class="laptop-image">
      </div>
      <div class="tutorials-info animate-right">
        <h2 class="tutorials-title dm-serif-text-regular">Step-by-Step Tutorials on YouTube</h2>
        <p class="tutorials-description">
          Discover detailed tutorials and step-by-step guides on my YouTube channel, perfect for
          enhancing your skills and learning new concepts in Python and data science.
        </p>
        <a href="https://www.youtube.com/@sairampenjarla" class="btn-minimal">
          <img src="{{ url_for('static', filename='images/lucidev-icons/youtube.svg') }}" alt="YouTube" class="icon-image">
          YouTube</a>
      </div>
    </div>
    <div class="content-wrapper laptop-wrapper-2 animate-section" data-delay="300">
      <div class="tutorials-info animate-left">
        <h2 class="tutorials-title dm-serif-text-regular">Projects and Tutorial Notebooks on GitHub</h2>
        <p class="tutorials-description">
          Visit my GitHub page to find a variety of projects and code samples that showcase practical applications and provide valuable learning resources.
        </p>
        <a href="https://github.com/sairam-penjarla" class="btn-minimal">
          <img src="{{ url_for('static', filename='images/lucidev-icons/github.svg') }}" alt="GitHub" class="icon-image" />
          GitHub
        </a>
      </div>
      <div class="laptop-container animate-right">
        <img src="/static/images/github-laptop.png" alt="Laptop displaying YouTube tutorials" class="laptop-image">
      </div>
    </div>
    <div class="content-wrapper laptop-wrapper-2 animate-section" data-delay="500">
      <div class="laptop-container animate-left">
        <img src="/static/images/phones.png" alt="phones" class="laptop-image">
      </div>
      <div class="tutorials-info animate-right">
        <h2 class="tutorials-title dm-serif-text-regular">Stay Updated and Connected</h2>
        <p class="tutorials-description">
          Follow me on Instagram and LinkedIn for regular updates, insightful tips, and professional connections that can help you stay informed and inspired in your data science journey.
        </p>
        <a href="https://www.linkedin.com/in/sairam-penjarla-b5041b121/" class="btn-minimal">
          <img src="{{ url_for('static', filename='images/lucidev-icons/linkedin.svg') }}" alt="YouTube" class="icon-image">
          LinkedIn
        </a>
        <a href="https://www.instagram.com/sairam.ipynb" class="btn-minimal">
          <img src="{{ url_for('static', filename='images/lucidev-icons/instagram.svg') }}" alt="YouTube" class="icon-image">
          Instagram
        </a>
      </div>
    </div>
    </div>
  </div>
</div>