<div class="project-card-container">
      <div class="project-card-container-header">
            <div class="section-header">
                  <div class="section-title">
                        <div class="section-text">My projects</div>
                  </div>
            </div>
            
      </div>
      <div class="project-card-container-body">
            <div class="project-card">
                  <div class="project-card-image">
                        <img src="/static/thumbnails/1.jpg" alt="ChatGPT for Everyone" />
                  </div>
                  <div class="project-card-content">
                        <div>
                              <h3 class="project-card-title">ChatGPT for Everyone</h3>
                              <p class="project-card-description">Discover how to use ChatGPT effectively and explore the exciting world of Generative AI. No prior experience required!</p>
                        </div>
                        <div class="project-card-meta">
                              <div class="project-card-stars">4.8 ★★★★★ (409)</div>
                              <div class="project-card-lessons">25 Lessons</div>
                        </div>
                  </div>
            </div>

            <div class="project-card">
                  <div class="project-card-image">
                        <img src="/static/thumbnails/2.jpg" alt="Introduction to Prompt Engineering" />
                  </div>
                  <div class="project-card-content">
                        <div>
                              <h3 class="project-card-title">Introduction to Prompt Engineering</h3>
                              <p class="project-card-description">Learn the fundamentals of prompt engineering, the practice of crafting effective instructions for AI systems like ChatGPT, Claude, and Perplexity...</p>
                        </div>
                        <div class="project-card-meta">
                              <div class="project-card-stars">4.7 ★★★★★ (43)</div>
                              <div class="project-card-lessons">12 Lessons</div>
                        </div>
                  </div>
            </div>

            <div class="project-card">
                  <div class="project-card-image">
                        <img src="/static/thumbnails/3.jpg" alt="Advanced Prompt Engineering" />
                  </div>
                  <div class="project-card-content">
                        <div>
                              <h3 class="project-card-title">Advanced Prompt Engineering</h3>
                              <p class="project-card-description">Discover advanced techniques in prompt engineering to enhance the accuracy, reliability, and efficiency of AI-generated responses...</p>
                        </div>
                        <div class="project-card-meta">
                              <div class="project-card-stars">4.9 ★★★★★ (39)</div>
                              <div class="project-card-lessons">34 Lessons</div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="regular-button">View All Projects</div>
</div>
