<div class="outer-wrapper">
      <div class="inner-wrapper">
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-1">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>Solving Ambiguous Problems</h2>
                        <p>You know, those “where do we even begin?”</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
                  <div class="cs-skill-block cs-skill-block-2">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>Automation &amp; Systems Design</h2>
                        <p>AI systems that don’t shatter during demos</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-3">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>Communication &amp; Diagrams</h2>
                        <p>Translating tech jargon for humans who think Python is just a snake.</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
                  <div class="cs-skill-block cs-skill-block-4">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>UI/UX That Doesn’t Suck</h2>
                        <p>Interfaces that users don’t rage-click.</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="cs-skill-block cs-skill-block-5">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>Handling Large Scale Data</h2>
                        <p>Pipelines built like tanks. Terabyte-proof and tantrum-resistant.</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
                  <div class="cs-skill-block cs-skill-block-6">
                        <img src="https://media.licdn.com/dms/image/v2/D4D12AQFUOilM8ytVfA/article-inline_image-shrink_1000_1488/article-inline_image-shrink_1000_1488/0/1706438123249?e=1758153600&v=beta&t=-rX62D1qmR-WKNxMrq9v2l4Hyf2O70rJqVr3QMr2750" alt="corner" class="corner-image" />
                        <h2>Security &amp; Governance</h2>
                        <p>GDPR, HIPAA, SOC 2, and all the scary acronyms—handled.</p>
                        <div class="arrow-circle">
                              <img src="static/images/lucidev-icons/arrow-right.svg" alt="arrow" class="arrow-icon" />
                        </div>
                  </div>
            </div>
      </div>
</div>
