

.btn-minimal {
  display: inline-flex;
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--primary-highlight-color);
  border: 1px solid var(--brand-primary);
  border-radius: 37px;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.btn-minimal:hover {
  background-color: var(--link-hover);
  /* border-color: #999; */
  color: #ffffff;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.btn-minimal:active {
  transform: translateY(0);
  box-shadow: none;
}

.btn-minimal:focus {
  outline: none;
  border-color: #555;
}
span.highlight {
  font-weight: 900;
}
.card {
  /* border: 1px solid var(--primary-highlight-color); */
  /* outline: 1px solid var(--primary-highlight-color); */ /* Outer border */
  /* outline-offset: 2px; */ /* Distance between inner and outer border */
  /* border-radius: var(--border-radius-outside); */
  /* padding: 14px; */
  /* background-color: var(--secondary-background-color); */
  /* background-color: #f3f3f3; */
  /* border-radius: var(--border-radius-outside); */
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); */
  /* padding: 1.5rem; */
}

.horizontal-card{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.vertical-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-style: oblique;
  /* margin-top: 100px; */
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}





.section-header {
  text-align: center;
  margin-bottom: 0px;
}

.section-title {
  font-size: var(--primary-heading-font-size);
  font-weight: 700;
  margin-bottom: 0px;
  color: var(--text-primary);
  display: flex;
  align-items: center;
}


.section-subtitle {
  font-size: var(--seconday-font-size);
  color: var(--text-secondary);
  max-width: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

.section-text {
  max-width: 50%;
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}
.hero-content h1 span {
    font-family: "DM Serif Text", serif;
}
.grey-section-container{
  background-color: #f3f4f6;
}