<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/section-animations.css') }}" />
<section class="hero-section resources-hero-section landing-section animate-section">
    <div  class="hero-container landing-container">
        <h1 class="title animate-bottom delay-100">
            <span class="blue-highlight">Upskill</span> Yourself with Easy, Latest, and Trending Data Science Resources
            <span class="underline"></span>
        </h1>
    
        <p class="description animate-bottom delay-200">Invest in your future by learning smarter, not harder. Learn practical skills, explore AI projects, and build a strong resume to stand out in the competitive job market.</p>
    
        <div class="buttons-container animate-scale delay-300">
            <a href="/projects/" class="btn-minimal">Explore Projects</a>
            <a href="https://www.youtube.com/@sairampenjarla" class="btn-minimal">Learn Basics</a>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/section-animations.js') }}"></script> 