<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
<header class="header">
    <nav class="nav-container">
        <a href="/" class="logo">Sai<span>Ram</span></a>
        <div class="tabs-container">
            <a href="/" class="tab {% if request.path == '/' %}active{% endif %}">About Me</a>
            <a href="/resources" class="tab {% if request.path == '/resources' %}active{% endif %}">Resources</a>
            <a href="/projects/" class="tab {% if request.path.startswith('/projects') %}active{% endif %}">Projects</a>
            <a href="/gen-ai" class="tab {% if request.path == '/gen-ai' %}active{% endif %}">Gen AI</a>
            <a href="/free-courses" class="tab {% if request.path.startswith('/free-courses') %}active{% endif %}">Free Courses</a>
        </div>
          
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div class="dropdown-menu">
        <a id="python-projects" href="/projects/python" class="dropdown-item {% if request.path == '/projects/python' %}active{% endif %}">Python</a>
        <a id="ml-projects" href="/projects/machine-learning" class="dropdown-item {% if request.path == '/projects/machine-learning' %}active{% endif %}">Machine Learning</a>
        <a id="dl-projects" href="/projects/deep-learning" class="dropdown-item {% if request.path == '/projects/deep-learning' %}active{% endif %}">Deep Learning</a>
        <a id="cv-projects" href="/projects/computer-vision" class="dropdown-item {% if request.path == '/projects/computer-vision' %}active{% endif %}">Computer Vision</a>
        <a id="nlp-projects" href="/projects/nlp" class="dropdown-item {% if request.path == '/projects/nlp' %}active{% endif %}">Natural Language Processing</a>
    </div>
</header>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>