<!DOCTYPE html>
<html>
<head>
    <title>Sai Ram Penjarla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bento-box.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet" />

</head>
<body>
    {% include 'header.html' %}
    {% include 'home_section_1_hero.html' %}
    {% include 'home_section_5_projects.html' %}
    {% include 'home_section_2_expert.html' %}
    {% include 'home_section_bento.html' %}
    {% include 'home_section_3_security.html' %}
    {% include 'home_section_4_skills.html' %}
    {% include 'home_section_6_laptop.html' %}
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/scroll-animations.js') }}"></script>
</body>
</html>
